* {
  font-family: $default-font;
}

body {
  background: $layout-bg-color;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

header, footer {
  font-weight: $default-fw-bold;
}

header, header nav, footer {
  z-index: $z-index-layout;
}

#app {
  position: fixed;
  opacity: .1;
  top: 70px;
  left: 20px;
  right: 20px;
  bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
}

#apex {
  width: 0;
  height: 0;
  visibility: hidden;
}

a.disabled {
  cursor: default;
}