* {
  font-family: $default-font;
  color: rgba(0, 0, 0, .55);
}

body {
  background: $layout-bg-color;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

header, footer {
  font-weight: $default-fw-bold;
}

header, header nav, footer {
  z-index: $z-index-layout;
}

#app {
  position: fixed;
  opacity: .1;
  top: 70px;
  left: 20px;
  right: 20px;
  bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
}

#apex {
  width: 0;
  height: 0;
  visibility: hidden;
}

a.disabled {
  cursor: default;
}

.card {
  &, .card-header {
    background: $layout-bg-color;
  }
  .card-header {
    text-align: center;
    vertical-align: middle;
    border-bottom: .7px solid rgba(0, 0, 0, .05);
  }
  border: 1px solid rgba(0, 0, 0, .05);
  @extend %block-default;
}

