::-webkit-scrollbar {
  //visibility: hidden;
  width: 10px;
  background: #f2f2ed;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  @include border-radius(15px);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid rgba(178, 178, 178, 0.6);
  @include border-radius(15px);
}